* {
box-sizing: border-box;
margin: 0 auto;
padding:0;
font-family: 'Belanosima', sans-serif;
font-family: 'Poppins', sans-serif;
}

header>section>h1 {
font-family: 'Belanosima', sans-serif;
color:#181823 ;
font-size: 2.5rem;
}

header>section>nav>ul {
list-style-type: none;
}

ul>li>a {
    font-size: 1.5rem;
    text-decoration: none;
    color:#181823 ;
}

.img-section{
    background: rgb(252,115,0);
    background: linear-gradient(180deg, rgba(252,115,0,1) 0%, rgba(31,138,112,1) 50%, rgba(0,66,90,0.9066001400560224) 100%);
    display: flex;
    align-items: center;
}

.title{
    
    width: 50%;
    padding-left: 10vw;
}

.nav1{
    
    width: 50%;
}

.hamburguesa{
    display: flex;
    padding: 10px 0px 10px 25vw;
}

.nav-oculto{
    display: none;
}

/* MAIN */

main>section>article>div>h1 {
    font-family: 'Belanosima', sans-serif;
    font-size: 25px;
}

main>section>article>div>h1 {
    color: #00425a;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
}

main>section>article>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main>section>article>div>p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.li-beneficios {
    list-style-type: none;
    padding-left: 3.1rem;
    background-image: url("/public/img/verificar.png");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: left top;
    padding-bottom: 1.11rem;
    margin-top: 1rem;
}

article>div>ul {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.li-noticias {
    list-style-type: none;
    padding-left: 3.1rem;
    background-image: url("/public/img/periodico.png");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: left top;
    padding-bottom: 1.11rem;
    margin-top: 1rem;
}

/* FOOTER */

.footer {
background-color: #181823;
color: #eff5f5;
}

.title-footer {
padding: 0 10px;
}

.logos-redes {
    width: 1rem; 
    padding-right: 2px;
    margin-left: 3px;
}
.redes {
font-size: 12px;
}

.contacto {

}




/* MEDIA QUERY TABLET*/

@media (min-width:768px){

.ul-oculto{
    display: block;
}
.hamburguesa{
    display: none;
}
}

/* MEDIA QUERY PC*/

@media (min-width:992px){
    
}