* {
box-sizing: border-box;
margin: 0 auto;
padding:0;
font-family: 'Belanosima', sans-serif;
font-family: 'Poppins', sans-serif;
}

header>section>h1 {
font-family: 'Belanosima', sans-serif;
color:#181823 ;
font-size: 1.5rem;
}

header>section>nav>ul {
list-style-type: none;
}

ul>li>a {
    font-size: 1.5rem;
    text-decoration: none;
    color:#181823 ;
}

.img-section{
    background: rgb(252,115,0);
    background: linear-gradient(180deg, rgba(252,115,0,1) 0%, rgba(31,138,112,1) 50%, rgba(0,66,90,0.9066001400560224) 100%);
    display: flex;
    align-items: center;
    padding: 1rem;
}

.title{
    background-image: url("/public/img/institucion.png");
    width: 50%;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    padding-bottom: 1.11rem;
    padding-left: 2rem;
    margin-top: 0.9rem;
}

.nav1{
    
    width: 40%;
}

.contenedor-hamburguesa{
    display: flex;
    padding: 0.6rem 0px 0.6rem 25vw;
    
}

.hamburguesa {
width: 2rem;
}

.nav-oculto{
    display: none;
}

/* MAIN */

main>section>article>div>h1 {
    font-family: 'Belanosima', sans-serif;
    font-size: 1.3rem;
}

main>section>article>div>h1 {
    color: #00425a;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
}

main>section>article>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main>section>article>div>p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 0.9rem;
}

.img-main {
    width: 75%; 
    border: solid 2px #00425a;
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.li-beneficios {
    list-style-type: none;
    padding-left: 3.1rem;
    background-image: url("/public/img/verificar.png");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: left top;
    padding-bottom: 1.11rem;
    margin-top: 1rem;
}

article>div>ul {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    font-size: 0.9rem;
}

.li-noticias {
    list-style-type: none;
    padding-left: 3.1rem;
    background-image: url("/public/img/periodico.png");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: left top;
    padding-bottom: 1.11rem;
    margin-top: 1rem;
}

/* FOOTER */

.footer {
background-color: #181823;
color: #eff5f5;
}

.title-footer {
padding: 0 10px;
}

.logos-redes {
    width: 1rem; 
    margin-left: 1rem;
    padding-top: 1.5rem;
}

.redes {
font-size: 12px;
width: 33%;
}

.mapa{
    width: 33%;
}

.title2-footer {
    font-size: 0.8rem;
    margin-left: 2rem;
    margin-bottom: 0.3rem;
}

.contacto {
margin-left: 5px;
width: 33%;
}

.footer-a {
    font-size: 0.7rem;
}

.footer-oculto {
    display: none;
}




/* MEDIA QUERY TABLET*/

@media (min-width:768px){

.nav-oculto{
    display: block;
    width: 100%;
}

.ul-opciones{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.contenedor-hamburguesa{
    display: none;
}

.opciones-nav{
    font-size: 0.8rem;
    font-family: 'Belanosima', sans-serif;
    border: 1px #00425a solid;
    text-align: center;
    display: inline-block;
    width: 90px;
    padding: 4px 8px;
    margin: 0 10px;
}

/* MAIN TABLET*/

.img-main {
width: 60%;
}
/* FOOTER TABLET*/

.redes {
display: flex;
flex-direction: column;
}

.title-footer {
    font-size: 0.8rem;
}

.logos-redes {
    margin-left: 8rem;
    padding-top: 0.3rem;
}

.footer-oculto{
    display: block;
    color: #eff5f5;
    font-size: 0.7rem;
}

.mapa {
    text-align: center;
}

.title2-footer {
    margin-left: 0;
    padding-bottom: 5px;
    
}

iframe {
    width: 250px;
    height: 125px;
    border: 0;
}

.contacto {
    margin-left: 0;
    text-align: center;
    padding-bottom: 10px;
}

}

/* MEDIA QUERY PC*/

@media (min-width:992px){
    
    .img-main{
        width: 40%;
    }

    main>section>article>div>p {
        font-size: 1.2rem;
    }

    main>section>article>div>h1{
        font-size: 1.6rem;
    }

    article>div>ul {
        font-size: 1.2rem;
    }

    .nav-oculto {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  /* triangulo abajo */
  display: flex;
    }

    .nav-oculto li {
  border: 3px solid #00425a;
  margin: 5px; /* Ajusta el margen según tu diseño */
  border-radius: 7px;
  /* triangulo abajo */
  position: relative;
}
    .opciones-nav{
  display: block;
  padding: 10px;
  width: 7rem;
  text-align: center;
  text-decoration: none;
  color: #181823;
  border: none;
  font-size: 1.3rem;
    /* triangulo abajo */
  position: relative;
    }

    .nav-oculto li:hover{
       background-color: #fc7300;
       color:#eff5f5;
       transition: background-color 1.5s ease; /* Agrega una transición suave */ 
    }

    /* Pseudo-elemento ::before para crear el triángulo */
.nav-oculto a::before {
  content: '';
  position: absolute;
  top: -15px; /* Posiciona el triángulo arriba del enlace */
  left: 50%;
  transform: translateX(-50%) rotate(180deg); /* Centra horizontalmente el triángulo */
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #eff5f5; /* Color blanco del triángulo */
  opacity: 0; /* Inicialmente es invisible */
  transition: opacity 0.3s ease; /* Agrega una transición suave */
}

/* Mostrar el triángulo al pasar el cursor sobre el enlace */
.nav-oculto a:hover::before {
  opacity: 1;
}

.contenedor-beneficios{
    display: block;
}

.img-beneficios{
    margin-left: 25%;
}

.contenedor-ultimas-noticias{
    padding-top: 2rem;
    padding-bottom: 3rem;
   
}

/* FOOTER PC*/
.title-footer{
    font-size: 1rem;
}
.logos-redes {
    margin-left: 11rem;
    width: 2rem;
}

.footer-oculto {
    margin: 0 9rem;
    font-size: 0.8rem;
}

.title2-footer{
    font-size: 1rem;
}

.footer-a {
    font-size: 0.8rem;
}



}